<%= render 'shared/title', title: '選擇員工' %>

<div>
  <%= form_for(:session, url: choose_user_path) do |f| %>
    <label>姓名:</label>
    <p><%= f.select :name, options_for_select(@users) %></p>

    <%= f.submit '確定' %>
  <% end %>
</div>